<div class="row forecast">
    <div class="upcoming-shifts">
        %number_upcoming_shifts%
    </div>
    <div class="upcoming-night-shifts">
        %number_upcoming_night_shifts%
    </div>
    <div class="currently-working">
        %number_currently_working%
    </div>
    <div class="hours-worked">
        %number_hours_worked%
    </div>
</div>

<div class="row google">
    <div class="google-container" id="google-container">

    </div>
</div>

<script type="application/javascript">
    var LatLngList = [], marker_ = [], infowindow_ = [], map;
    jQuery(function ($) {
        initEmptyCard();

        showUpcomingShifts();
    });

    function initEmptyCard() {
        var latitude = 51;
        var longitude = 10;
        var LatLngList = new Array();
        var home = new google.maps.LatLng(latitude,longitude);
        var options = {
            center: home,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("google-container"),options);
    }

    function showUpcomingShifts() {
        var url = "%api_shifts_link%";
        jQuery.support.cors = true;
        $.ajax({
            url: url,
            dataType: "json",
            error:function(xhr, status, errorThrown) {
                console.log(errorThrown+'\n'+status+'\n'+xhr.statusText);
            },
            success: function(o){
                displayShifts(o);
            }
        });
    }

    function displayShifts(shifts) {
        var count = 0;
        for(i in shifts) {
            if ('' === shifts[i].lat || '' === shifts[i].long) {
                continue;
            }

            var coords = new google.maps.LatLng(shifts[i].lat, shifts[i].long);
            LatLngList[i] = coords;
            marker_[i] = new google.maps.Marker({
                position: coords,
                title: shifts[i].title,
                map: map,
                dragable: false
            });
            var contentHtml = "<p>" +
                    "<h2>" + shifts[i].title + "</h2>" +
                    "<h4>" + shifts[i]['start'] + " - " + shifts[i]['end'] + "</h4>"
                    "</p>";

            infowindow_[i] = new google.maps.InfoWindow({
                content : contentHtml,
                maxWidth: 300
            });

            google.maps.event.addListener(marker_[i], 'click',
                    makeInfoWindowEvent(map, infowindow_[i], marker_[i]));
            count++;
        }

        if (LatLngList.length != 0){
            var bounds = new google.maps.LatLngBounds ();
            for (var i = 0, LtLgLen = LatLngList.length; i < LtLgLen; i++) {
                bounds.extend (LatLngList[i]);
            }
            map.fitBounds (bounds);
        }
    }

    function makeInfoWindowEvent(map, infowindow, marker) {
        return function() {
            infowindow.open(map, marker);
        };
    }

</script>

<div class="row blocks">
    <section class="job-list">
        %jobs_currently_running%
    </section>

    <section class="job-list">
        %jobs_now%
        %jobs_soon%
    </section>
    <section class="news">
        <div class="clock well" id="clockDisplay">??:??:??</div>
        %news%
    </section>
</div>

<script>
    function renderTime() {
        var currentTime = new Date();
        var diem = "AM";
        var h = currentTime.getHours();
        var m = currentTime.getMinutes();
        var s = currentTime.getSeconds();
        setTimeout('renderTime()',1000);
        if (h == 0) {
            h = 12;
        } else if (h > 12) {
            h = h - 12;
            diem="PM";
        }
        if (h < 10) {
            h = "0" + h;
        }
        if (m < 10) {
            m = "0" + m;
        }
        if (s < 10) {
            s = "0" + s;
        }
        var myClock = document.getElementById('clockDisplay');
        myClock.textContent = h + ":" + m + ":" + s + " " + diem;
        myClock.innerText = h + ":" + m + ":" + s + " " + diem;
    }
    renderTime();
</script>

